<div class="animated fadeIn" id="costs">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h1 class="titles" id="name">W/H Costs</h1>
    </div>
    <div class="row m-2">
      <div class="col-lg-6"><h2 class="text-sm-center titles">Pallet</h2>
        <canvas class="charts" id="pal"></canvas>
      </div>
      <div class="col-lg-6"><h2 class="text-sm-center titles">Stretch-film</h2>
        <canvas class="charts" id="stretch"></canvas>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-lg-6"><h2 class="text-sm-center titles">Consumables</h2>
        <canvas class="charts" id="consum"></canvas>
      </div>
      <div class="col-lg-6"><h2 class="text-sm-center titles">Forklift Rental</h2>
        <canvas class="charts" id="forklift"></canvas>
      </div>
    </div>
  </div>
</div>
