<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
      <h2 class="text-sm-center titles">On-Time GR</h2>
        <canvas class="charts" id="gr"></canvas>
    </div>
    <div class="col-md-4">
     <h2 class="text-sm-center titles">1st GI</h2>
        <canvas class="charts" id="gi"></canvas>
    </div>
    <div class="col-md-4">
      <h2 class="text-sm-center titles">RDT</h2>
        <canvas class="charts" id="rdt"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-sm-center titles">*main LSP</h2>
        <canvas class="charts" id="lsp"></canvas>
    </div>
    <div class="col-md-4">
      <h2 class="text-sm-center titles">RDD</h2>
        <canvas class="charts" id="rdd"></canvas>
    </div>
    <div class="col-md-4">
      <h2 class="text-sm-center titles">IOD</h2>
        <canvas class="charts" id="iod"></canvas>
    </div>
  </div>
</div>
