<app-dropdown-basic></app-dropdown-basic>

<!--<h1 class="text-sm-center p-5">Выберите график:</h1>-->
<!--<div class="row justify-content-center">-->
<!--    <div class="col-md-8">-->
<!--        <button (click)="goToPostsPage()" class="btn">1</button>-->
<!--        <button (click)="goToPostsPage()" class="btn">2</button>-->
<!--        <button (click)="goToPostsPage()" class="btn">3</button>-->
<!--        <button (click)="goToPostsPage()" class="btn">4</button>-->
<!--        <button (click)="goToPostsPage()" class="btn">5</button>-->
<!--    </div>-->
<!--</div>-->


